.idea
._*
.DS_Store
.vagrant*
tmp
src/.htaccess
src/bb-config*
!src/bb-config-sample.php
src/bb-data/log/*
src/bb-data/cache/*
src/bb-data/tmp.txt
src/bb-test.php
src/bb-vendor/*
src/install/logs/*
bb-test.php
build
composer.phar
public
report/*
data/db
.phpunit.result.cache

### node_moduels ###
node_modules
npm-debug.log
.history/
src/install/sql/structure.sql
src/install/sql/content_test.sql
src/install/sql/content.sql
src/install/session.php
src/install/install.php
src/install/index.php
src/install/assets/layout.phtml
src/install/assets/js/jquery.smartWizard.js
src/install/assets/js/jquery.min.js
src/install/assets/install.phtml
src/install/assets/images/vault.png
src/install/assets/images/user.png
src/install/assets/images/ui/uploadDisabled.png
src/install/assets/images/ui/spinnerUpDown.png
src/install/assets/images/ui/sliderOverlayVert.png
src/install/assets/images/ui/sliderOverlay.png
src/install/assets/images/ui/sliderBgVert.png
src/install/assets/images/ui/sliderBg.png
src/install/assets/images/ui/seaBtn.png
src/install/assets/images/ui/redBtn.png
src/install/assets/images/ui/progressOverlay.png
src/install/assets/images/ui/progress.png
src/install/assets/images/ui/pagination.png
src/install/assets/images/ui/numDataBg.png
src/install/assets/images/ui/handle.png
src/install/assets/images/ui/greyishBtn.png
src/install/assets/images/ui/greenBtn.png
src/install/assets/images/ui/blueBtn.png
src/install/assets/images/ui/blackBtn.png
src/install/assets/images/ui/basicBtn.png
src/install/assets/images/topNav.jpg
src/install/assets/images/middlebg.png
src/install/assets/images/loader.gif
src/install/assets/images/leftNavBg.png
src/install/assets/images/flag.png
src/install/assets/images/doc.png
src/install/assets/images/cog4.png
src/install/assets/images/bubbles2.png
src/install/assets/images/book.png
src/install/assets/images/bodyBg.jpg
src/install/assets/images/alert2.png
src/install/assets/images/adminUser.png
src/install/assets/css/main.css
